<!DOCTYPE html> 
<html> 
<head> 
    <title>Wobble Finance</title>
    <link rel='icon' type='image/png' href='favicon.ico'>
    <style type='text/css' media='screen'>
        @font-face {
            font-family: 'Lobster';
            src: url('Lobster-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Bowman';
            src: url('NovaMono-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }
        body {
            font-family: 'Bowman', serif;
            color: #eeeeee;
            background-color: #110011;
            text-decoration-color: #ffffff;
            margin: auto;
            padding: 0;
        }
        .navbar {
            overflow: hidden;
            background-image: linear-gradient(to right, #320050, #8200C8);
            font-family: 'Lobster', serif;
            font-size: medium;
        }
        .navbar a {
            float: left;
            color: #eeeeee;
            text-align: center;
            padding: 14px 14px;
            text-decoration: none;
            font-size: 25px;
        }
        .navbar a:hover {
            background-color: #160025;
            color: #ffffff;
        }
        .navbar a.active {
            background-image: #222222;
            color: #ffffff;
        }
        .footbar {
            color: #ffffff;
            background-color: #111111;
            text-align: right;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 5px 0px;
            font-size: 12px;
        }
    </style>
    <script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
</head> 
  
<body>
    <div class='navbar'>
        <a class='active' href='/'>Wobble Finance 🧬</a>
        <a style='float: right;' href='about'>About ⚛️</a>
    </div>
    <h1 style='text-align: center; font-family: Lobster, serif;'>404 Error! Page Not Found.</h1>
    <div style='text-align: center;' id='contact'>
        <form style='text-align: center; background: rgba(0,0,0,0.75); padding: 20px;' action='/screener' method='POST'>
            <h1 style='color: #ffffff; text-align: center; font-family: serif;'>???</h1>
        </br>
            <label style='color: #ffffff; text-align: center; font-family: serif;' for='symbol'>Now this is a bit eyebrow-raising...</label>
        </form>
    </div>
</body>

<footer>
    <div class='footbar'>
        Wobble Finance © 2021 &nbsp;
    </div>
</footer>
  
</html> 