<!DOCTYPE html> 
<html> 
<head> 
    <title>Wobble Finance</title>
    <link rel='icon' type='image/png' href='favicon.ico'>
    <link rel="stylesheet" href="styles.css">
    <script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
</head> 
  
<body>
    <div class='navbar'>
        <a class='active' href='/'>Wobble Finance 🧬</a>
        <a style='float: right;' href='https://testnet.bscscan.com/token/0xe7e6a09d3e3d785587fadb2d2d7d759e73464205'>Trade 💸</a>
        <a style='float: right;' href='learn'>Learn 📓</a>
        <a style='float: right;' href='about'>About ⚛️</a>
    </div>
    <h1 style='text-align: center; font-family: Lobster, serif;'>The Wobble Finance Project</h1>
    <div style='text-align: center;' id='contact'>
        <form style='text-align: center; background: rgba(0, 0, 0, 0.75);' action='/screener' method='POST'>
            <div style="margin: 0% 40% 0% 40%;">
                <img style='width: 200px; height: 200px;' src='WBBL.png' alt='Wobble Finance Logo'>
                <p style='color: #ffffff;'>
                    Wobble Finance is a bare-bones cryptocurrency screener that allows the user to look up hundreds of differenct cryptocurrencies and see how they are preforming. Simply search for any major cryptocurrency symbol and in seconds get the bread-and-butter statistics about it; inclung the current price, the one hour price change, and the average 24 hour exchange volume.
                </p>
                <br/>
                <p style='color: #ffffff;'>
                    Wobble Finance was created as a way to help those new to the cryptocurrency space learn more about cryptocurrencies through educational videos and then apply what they have learned with the aid of the Wobble Finance Screener webapp. In addition to this there is the Wobble Finance Token (WBBL) that helps finace API calls for the webapp. The Wobble Finance Token (WBBL) is avaibale to trade on the Binance Smart Chain as a BEP-20 token and is a listed asset on PancakeSwap.
                </p>
            </div>
        </form>
    </div>
</body>

<footer>
    <div class='footbar'>
        Wobble Finance © 2021 &nbsp;
    </div>
</footer>
  
</html> 