<!DOCTYPE html> 
<html> 
<head> 
    <title>Wobble Finance</title>
    <link rel='icon' type='image/png' href='favicon.ico'>
    <link rel="stylesheet" href="styles.css">
    <script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
</head> 
  
<body>
    <div class='navbar'>
        <a class='active' href='/'>Wobble Finance ⚛️</a>
        <a style='float: right;' href='about'>About 🧬</a>
        <a style='float: right;' href='https://bscscan.com/token/0xe7e6a09d3e3d785587fadb2d2d7d759e73464205'>BscScan 📝</a>
        <a style='float: right;' href='https://pancakeswap.finance/swap?inputCurrency=0xE7E6A09D3e3d785587FADb2D2D7d759e73464205&outputCurrency=BNB'>Trade 💸</a>
        <a style='float: right;' href='learn'>Learn 📓</a>
    </div>
    <h1 style='text-align: center; font-family: Lobster, serif;'>Wobble Finance Learn</h1>
    <div style='text-align: center;' id='contact'>
        <form style='text-align: center; background: rgba(0, 0, 0, 0.75);' action='/screener' method='POST'>
            <img style='width: 200px; height: 200px;' src='WBBL.png' alt='Wobble Finance Logo'>
            <p>Wobble Finance Learn is a four part series that breaks down the bread-and-butter concepts of the decentralized internet into comprehensive videos. Each video consists of adressing fundamental questions about cryptocurrencies, the blockchain, tokens, and decentralized apps, while simultaneously introducing the viewer to an assortment of crypto assests that serve as examples of each topic. This series works not only to educate those interested in crypto, but also to bring awareness overall to where the future of the global monetary system may go.</p>
            </br>
            <div style="margin: 0% auto 0% auto;">
                <div style='text-align: center; background: rgba(22,0,37,0.5); padding: 20px; border: 2px dashed #ffffff;'>
                    <h3 style='color: #ffffff;'>Wobble Finance Learn - Episode 1/4: What is a Cryptocurrency?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jJhkIhJXqcI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h6 style='color: #ffffff;'>In this episode the concept of a cryptocurrency is discussed.</h6>
                </div>
                <br/><br/>
                <div style='text-align: center; background: rgba(22,0,37,0.5); padding: 20px; border: 2px dashed #ffffff;'>
                    <h3 style='color: #ffffff;'>Wobble Finance Learn - Episode 2/4: What is the Blockchain?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y_HPtuMWA88" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h6 style='color: #ffffff;'>In this episode the concept of the blockchain is discussed.</h6>
                </div>
                <br/><br/>
                <div style='text-align: center; background: rgba(22,0,37,0.5); padding: 20px; border: 2px dashed #ffffff;'>
                    <h3 style='color: #ffffff;'>Wobble Finance Learn - Episode 3/4: What are Cryptocurrency Tokens?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rx1lzJ8pLms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h6 style='color: #ffffff;'>In this episode the concept of cryptocurrency tokens is discussed.</h6>
                </div>
                <br/><br/>
                <div style='text-align: center; background: rgba(22,0,37,0.5); padding: 20px; border: 2px dashed #ffffff;'>
                    <h3 style='color: #ffffff;'>Wobble Finance Learn - Episode 4/4: What are Decentralized Apps?</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4kCBux-W8LI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h6 style='color: #ffffff;'>In this episode the concept of decentralized apps is discussed.</h6>
                </div>
                <br/><br/><br/><br/>
            </div>
        </form>
    </div>
</body>

<footer>
    <div class='footbar'>
        Wobble Finance © 2021 &nbsp;
    </div>
</footer>
  
</html> 