<!DOCTYPE html> 
<html> 
<head> 
    <title>Wobble Finance</title>
    <link rel='icon' type='image/png' href='favicon.ico'>
    <link rel="stylesheet" href="styles.css">
    <script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
</head> 
  
<body>
    <div class='navbar'>
        <a class='active' href='/'>Wobble Finance 🧬</a>
        <a style='float: right;' href='https://testnet.bscscan.com/token/0xe7e6a09d3e3d785587fadb2d2d7d759e73464205'>Trade 💸</a>
        <a style='float: right;' href='learn'>Learn 📓</a>
        <a style='float: right;' href='about'>About ⚛️</a>
    </div>
    </br>
    <div class='maincontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 22%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 18%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img id="tokenimg" src="WBBL.png" alt="Cryptocurrency Logo" width="192" height="192" style="margin: 0% 5% 1.25% 5%"/></td>
                    <td><p>Cryptocurrency:</p><p id="name0" style="font-size: large">Name (Symbol)</p></td>
                    <td><p>Current Price:</p><p id="price0" style="font-size: large">Price (USD)</p></td>
                    <td><p>Currency Change (%):</p><p id="change0" style="font-size: large">24HR Price Change (USD)</p></td>
                    <td><p>Total Volume:</p><p id="volume0" style="font-size: large">Total Exchange Volume (USD)</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="WBBL.png" alt="Wobble Finance Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p>Name (Symbol)</p></td>
                    <td></td>
                    <td><p>Price</p></td>
                    <td><p>24HR Change</p></td>
                    <td><p>Total Volume</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/bitcoin-btc-logo.png" alt="Bitcoin Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name1">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price1">$0.000000000000000000</p></td>
                    <td><p id="change1">$0.000000000000000000</p></td>
                    <td><p id="volume1">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/ethereum-eth-logo.png" alt="Ethereum Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name2">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price2">$0.000000000000000000</p></td>
                    <td><p id="change2">$0.000000000000000000</p></td>
                    <td><p id="volume2">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/binance-coin-bnb-logo.png" alt="Binance Coin Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name3">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price3">$0.000000000000000000</p></td>
                    <td><p id="change3">$0.000000000000000000</p></td>
                    <td><p id="volume3">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/xrp-xrp-logo.png" alt="Ripple Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name4">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price4">$0.000000000000000000</p></td>
                    <td><p id="change4">$0.000000000000000000</p></td>
                    <td><p id="volume4">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/cardano-ada-logo.png" alt="Cardano Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name5">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price5">$0.000000000000000000</p></td>
                    <td><p id="change5">$0.000000000000000000</p></td>
                    <td><p id="volume5">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/polkadot-new-dot-logo.png" alt="Polkadot Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name6">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price6">$0.000000000000000000</p></td>
                    <td><p id="change6">$0.000000000000000000</p></td>
                    <td><p id="volume6">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/uniswap-uni-logo.png" alt="Uniswap Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name7">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price7">$0.000000000000000000</p></td>
                    <td><p id="change7">$0.000000000000000000</p></td>
                    <td><p id="volume7">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/pancakeswap-cake-logo.png" alt="PancakeSwap Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name8">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price8">$0.000000000000000000</p></td>
                    <td><p id="change8">$0.000000000000000000</p></td>
                    <td><p id="volume8">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/chainlink-link-logo.png" alt="Chainlink Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name9">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price9">$0.000000000000000000</p></td>
                    <td><p id="change9">$0.000000000000000000</p></td>
                    <td><p id="volume9">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table> 
    </div>
    <br/><br/><br/>
    <div class='tokencontainer'>
        <table style="width: 100%">
            <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 12.5%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tbody>
                <tr>
                    <td><img src="https://cryptologos.cc/logos/dogecoin-doge-logo.png" alt="Dogecoin Logo" width="42" height="42" style="margin: auto 1% auto 1%"/></td>
                    <td><p id="name10">Wobble Finance (WBBL)</p></td>
                    <td></td>
                    <td><p id="price10">$0.000000000000000000</p></td>
                    <td><p id="change10">$0.000000000000000000</p></td>
                    <td><p id="volume10">$0.000000000000000000</p></td>
                </tr>
            </tbody>
        </table>        
    </div>
    <br/><br/><br/><br/><br/>

    <script>
        var payload = <%- JSON.stringify(data) %>;
        console.log(payload);
        console.clear();
        document.getElementById('tokenimg').src = payload[0].image;
        for (let i = 0; i < 11; i++) {
            if (payload[i].change > 0) { 
                document.getElementById(`change${i}`).style.color = "#050"; 
                document.getElementById(`change${i}`).innerHTML = `+$${Math.abs(payload[i].change)} (${((payload[i].change)/(payload[i].price)).toFixed(2)}%)`
            } else if (payload[i].change < 0) { 
                document.getElementById(`change${i}`).style.color = "#500"; 
                document.getElementById(`change${i}`).innerHTML = `-$${Math.abs(payload[i].change)} (${((payload[i].change)/(payload[i].price)).toFixed(2)}%)`
            } else {
                document.getElementById(`change${i}`).style.color = "#000"; 
                document.getElementById(`change${i}`).innerHTML = `N/A`
            }

            document.getElementById(`name${i}`).innerHTML = `${payload[i].name} (${payload[i].symbol.toUpperCase()})`;
            document.getElementById(`price${i}`).innerHTML = payload[i].price != '' ? `$${payload[i].price}` : `N/A`;
            document.getElementById(`volume${i}`).innerHTML = payload[i].volume != '' ? `$${payload[i].volume}` : `N/A`;
        }
    </script>
</body>

<footer>
    <div class='footbar'>
        Wobble Finance © 2021 &nbsp;
    </div>
</footer>
  
</html> 